#imagecenter {
  height: 28em;
  padding: 2em;

}

#imageChange{
  display: block;
  margin: auto auto;
  padding-top: 2em;
}

.border {
  /*border: 1px solid black;*/
}

.top {
  /*margin-top: 5em;*/
}

.buttonsize {
  height: 3em;

}
