#imagecenter {
  height: 30em;
  padding: 2em;

}

#imageChange{
  display: block;
  margin: 0 auto;
}

.btn-space{
  width: 100%;
}
.top {
  margin-top: 3em;
}

.buttonsize {
  height: 3em;

}
.rotate {
  transform: rotate(45deg);
}

.scale {
  transform: scale(0.5);
}

.translate {
  transform: translateX(40px);
}

.opacity {
  opacity: 0.5;
}

.shadow {
  filter: grayscale(100%);
}
