#imagecenter {
  height: 28em;
  padding: 2em;

}

#imageChange{
  display: block;
  margin: auto auto;
  padding-top: 2em;
}

.border {
  /*border: 1px solid black;*/
}

.top {
  margin-top: 3em;
}

.buttonsize {
  height: 3em;

}
.rotate {
  transform: rotate(45deg);
}

.scale {
  transform: scale(0.5);
}

.translate {
  transform: translateX(40px);
}

.opacity {
  opacity: 0.5;
}
